@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
.azeret-mono  {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    }
    *{
        margin: 0;
        padding: 0;
    }
#hero{
    background-image: url(../assets/Hero-bg.png);
    width: 1920px;
    height: 800px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content{
    width: 998px;
    height: 582px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-img{
    width: 240.28px;
    height: 240px;
    margin: 32px 0px;
}
.hero-content h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px;
    }
.hero-text{
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px;
}
.hero-button{
    width: 260px;
    height: 66px;
    margin: 32px 0px;
}
.btn-hero{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
    }
#info-content{
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-under-content{
    width: 1140px;
    height: 1530px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 180px 126px 300px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.all-info{
position: static;
width: 946px;
height: 1235px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}
.info-title{
    width: 852px;
    height: 300px;
}
.info-title h1{
    width: 852px;
    height: 39px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px;
}
.info-title p{
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 24px 0px;
}
.info-cart1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.info-cart2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.info-cart3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.content-info {
    width: 850px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.info-img{
    width: 350px;
    height: 300px;
}
.info-img img{
    width: 100%;
    height: 100%;
}
.content-info h3{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin: 16px 0px;
}
.content-info p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin: 16px 0px;
}
.info-btn{
    width: 175px;
    height: 48px;
    margin: 32px -16px;
    padding: 12px 20px 12px 20px;
}
.info-btn button{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
padding: 12px 20px 12px 20px;
}
#inspiration{
    width: 1920px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
}
.ins-content{
    width: 1140px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
}
.ins-text{
    width: 1100px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.ins-text h1{
    width: 852px;
    height: 39px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px;
}
.ins-text p{
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 24px 0px;
}
.ins-video{
    width: 1140px;
    height: 614px;
    margin: 48px 0px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.ins-yt-video{
    width: 1100px;
    height: 700px;
    padding: 32px;
}
.ins-yt-video iframe{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}